/* base styles */

.section {
  padding: 60px 0;

  @include mq(desktop) {
    padding: 94px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1200px;
  }
}
