
/* grid mixin */ 

@mixin card-set($indent: 30px) {
    display: flex;
    flex-wrap: wrap;
    gap: $indent;
}

@mixin card-set-item($items: 1, $indent: 30px) {
    flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}

// flex centered

@mixin f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}